.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overscroll-behavior: none;
    
}

.modal {
    z-index: 9999;
}

.modal-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    line-height: 1.4;
    background: var(--lightest);
    padding: 14px 28px 24px;
    border-radius: 30px;
    max-height: 700px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
}

.overlay {
    background: #000000;
    opacity: 10%;
}

.btn-cont {
    display: flex;
    width: 100%;
    justify-content: right;
}
.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--navyblue);
    background: none;
    border: 0;

}

.open {
    font-family: "Source Sans 3", serif;
    color: white;
    font-weight: 350;
    font-size: clamp(16px, 2.5vw, 18px);
    text-align: center;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    text-decoration: none;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: 0;
    height: 30%;
}

.picture {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.picture img {
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.7rem;
}

.modal-name {
    font-family: 'Playfair Display', serif;
    font-size: clamp(24px, 2.5vw, 30px);
    font-weight: 500;
    color: var(--navyblue);
    margin: 0;
    text-align: center;
}

.c-y {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-info  p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(20px, 2.5vw, 24px);
    font-weight: 350;
    color: var(--navyblue);
    margin: 0;
    text-align: center;
}

.projects-cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.7rem 0rem;
}

.project {
    width: 150px;
    height: 50px;
    background-color:cornflowerblue;
    border: 0;
    border-radius: 15px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(18px, 2.5vw, 18px);
    font-weight: 350;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact {
    width: 80%;
    height: 50px;
    background-color:var(--navyblue);
    border: 0;
    border-radius: 15px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(18px, 2.5vw, 18px);
    font-weight: 350;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightest);
}





