.services {
    padding: 1.5rem 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.mybox {
    background-color: cornflowerblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    border-radius: 20px;
    padding: 1rem 1.5rem;
}

.left-cont {
    justify-content: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem;
}

.title-cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.services-title {
    white-space: nowrap;
    font-family: "Playfair Display", serif;
    font-size: clamp(24px, 2.5vw, 60px);
    font-weight: lighter;
    text-align: left;
    justify-content: center;
    color: white;
}

.i {
    font-style: italic;
}

.info-cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.info-cont p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(14px, 2.5vw, 26px);
    font-weight: 350;
    color: white;
    margin: 0;
}

.img-cont {
    width: 60%;
    height: auto;
    overflow: auto;
}

.img-cont img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.mybtn {
    width: 230px;
    height: 50px;
    background-color:white;
    border: 0;
    border-radius: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(18px, 2.5vw, 20px);
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;

}

@media (max-width: 1044px) {

    .mybox {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}