.devs {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.dev-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 1044px) {
    .dev-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}