.about {
    padding: 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-info {
    padding: 0;
    display: flex;
    flex-direction: row;;
}

.info {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.info p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(18px, 2.5vw, 22px);
    font-weight: 350;
    color: var(--darkest);
    margin: 0;
}