.about {
    padding: 1rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-info {
    padding: 0;
    display: flex;
    flex-direction: row;;
}

.info {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.info p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 350;
    color: var(--darkest);
    margin: 0;
}