.navbar-cont {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 5px 5px 15px 2px rgba(120, 120, 120, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 9999;
    

}

.logo {
    padding-left: 2rem;
}
.logo h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: semibold;
    /* font-style: italic; */
    font-size: clamp(22px, 2.5vw, 24px);
    text-align: left;
    color: cornflowerblue;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2rem;
    gap: 2rem;
}

.navbar-cont a {
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
    font-size: clamp(12px, 2.5vw, 16px);
    text-align: right;
    padding: 0;
    text-decoration: none;
    color: #071330;
    transition: color 0.2s ease-in-out 0s;
    transition: font-size 0.2s ease-in-out 0s;
}

.navbar-cont a:hover {
    font-weight: 300;
    /* font-size: clamp(17.8px, 2.5vw, 19.8px); */
}

@media (max-width: 768px) {
    .navbar-cont {
        justify-content: center;
    }
}