.navbar-cont {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 5px 5px 15px 2px rgba(220, 220, 220, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
    gap: 2rem;
}

.navbar-cont a {
    font-family: "Source Sans 3", sans-serif;
    font-weight: lighter;
    font-size: clamp(14px, 2.5vw, 16px);
    text-align: right;
    padding: 0;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out 0s;
    transition: font-size 0.2s ease-in-out 0s;
}

.navbar-cont a:hover {
    font-weight: 300;
    /* font-size: clamp(17.8px, 2.5vw, 19.8px); */
}

@media (max-width: 768px) {
    .navbar-cont {
        justify-content: center;
    }
}