.cont {
    padding: 0 0 0;
}

.background {
    /* Set the dimensions and add a border for visibility */
    width: 100%;
    min-height: 100vh;
    
    /* The core gradient declaration */
    background: linear-gradient(135deg, var(--darkest), #263e7a);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: clamp(275px, 2.5vw, 300px);
    color: var(--lightest);
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    text-align: center;
}

.logo {
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(400px, 2.5vw, 400px);
    color: cornflowerblue;
    font-weight: semibold;
    font-style: normal;
    margin: 0;
    text-align: center;

}