.cont {
    padding: 0 0 0;
}

.background {
    /* Set the dimensions and add a border for visibility */
    width: 100%;
    height: 100vh;
    
    /* The core gradient declaration */
    background: linear-gradient(135deg, var(--darkest), #263e7a);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 8vw, 6rem);
    color: var(--lightest);
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    text-align: center;
}

.logo {
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(150px, 10vw, 200px);
    font-weight: semibold;
    font-style: normal;
    margin: 0;
    text-align: center;

    background: linear-gradient(
        to right,
        cornflowerblue,
        lightskyblue,
        rgb(159, 255, 255),
        cornflowerblue

    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;

    animation: gradientAnimation 3s linear infinite;

}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}